<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="worten.aebd.com.worten" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Worten"
        android:theme="@style/AppTheme" >

        <activity
        android:name=".Shop"
        android:label="Worten - Tienda" >

        </activity>
        <activity
            android:name=".Scaner"
            android:label="Worten - Escáner" >

        </activity>
        <activity
            android:name=".Games"
            android:label="Worten - Cazadescuentos" >

        </activity>
        <activity
            android:name=".Login"
            android:label="Worten - Inicio de sesión" >

        </activity>
        <activity
            android:name=".Product"
            android:label="Worten - Detalles del producto" >
        </activity>
        <activity
            android:name=".User"
            android:label="Worten - Perfil" >
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="Worten" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />


</manifest>
